/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* font-family: 'Cookie', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Tinos', serif; */
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  color: var(--primary-accent-color);
  background-color: var(--primary-white-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

p,
img {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.color-span {
  color: var(--secondary-accent-color);
}

:root {
  --primary-accent-color: #ff7400;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --secondary-accent-color: #bc9060;
  --thrd-accent-color: #d67e35;
  --bg-color: #656363;
  --decor-color: #c4c4c4;
  --decor-color-2: #ff0000;
  --bg-br-accent-color: #d67e34;
}

/* <!-- -------------------------------------------------------------------------------- HEADER ----------------------------------------------------------------------------- --> */
.header {
  position: fixed;
  z-index: 22;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.header::before {
  z-index: -1;
  position: fixed;
  content: '';
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(../images/hero-bg.jpg);
  width: 1920px;
  height: 84px;
  background-size: cover;
  opacity: 0.9;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
}

.header__btn {
  margin-left: 45px;
  padding: 14px 18px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);
  cursor: pointer;
  border-radius: 4px;
  color: var(--primary-white-color);
  background: var(--primary-accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__btn:hover, .header__btn:focus {
  color: var(--primary-accent-color);
  background-color: var(--primary-white-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navigation-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.navigation-panel__item {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-panel__item:not(:first-child) {
  margin-left: 20px;
}

.navigation-panel__item:hover, .navigation-panel__item:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.navigation-panel__link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);
  color: var(--primary-white-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-panel__link:hover, .navigation-panel__link:focus {
  color: var(--primary-accent-color);
}

.contacts-panel {
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-panel__wrapper {
  max-width: 159px;
}

.contacts-panel__tell-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-panel__item-tell {
  margin-bottom: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: calc(25 / 18);
  fill: var(--primary-white-color);
  color: var(--primary-white-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-panel__item-tell:hover, .contacts-panel__item-tell:focus {
  color: var(--primary-accent-color);
  fill: var(--primary-accent-color);
}

.contacts-panel__item-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);
  color: var(--primary-white-color);
}

/* <!-- -------------------------------------------------------------------------------- HERO ----------------------------------------------------------------------------- --> */
.hero {
  background-image: url(../images/hero-bg.jpg);
  background-color: var(--bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1920px;
  height: 800px;
  margin: 0 auto;
  padding-top: 205px;
  padding-bottom: 231px;
}

.hero__greating {
  margin-left: 33px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 50px;
  line-height: calc(92 / 80);
  color: var(--thrd-accent-color);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.hero__title {
  margin-bottom: 12px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 80px;
  line-height: calc(92 / 80);
  color: var(--thrd-accent-color);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.hero__text-wrapper {
  position: relative;
  width: 100%;
}

.hero__text::before {
  position: absolute;
  top: 50%;
  left: 104px;
  content: '';
  width: 61px;
  height: 2px;
  background: var(--decor-color);
}

.hero__text::after {
  position: absolute;
  top: 50%;
  left: 350px;
  content: '';
  width: 61px;
  height: 2px;
  background: var(--decor-color);
}

.hero__text {
  margin-left: 174px;
  margin-bottom: 21px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: calc(25 / 18);
  color: var(--primary-white-color);
}

.hero__btn {
  display: inline-block;
  margin-left: 190px;
  padding: 14px 28px;
  cursor: pointer;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);
  border-radius: 4px;
  color: var(--primary-white-color);
  background: var(--primary-accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  color: var(--primary-accent-color);
  background-color: var(--primary-white-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* <!-- -------------------------------------------------------------------------------- HISTORY ----------------------------------------------------------------------------- --> */
.history {
  padding-top: 240px;
  padding-bottom: 182px;
  position: relative;
}

.history__article {
  width: 444px;
}

.history__title {
  text-align: center;
  margin-bottom: 21px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 54px;
  line-height: calc(62 / 54);
  color: var(--primary-black-color);
}

.history__dscr {
  margin-bottom: 95px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: var(--bg-color);
}

.history__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.features {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: -20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.features--modificator-container {
  width: 1200px;
}

.features__item {
  background-color: #fff;
  background: var(--primary-white-color);
  -webkit-box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 30px 20px 30px;
  width: 328px;
}

.features__icon {
  fill: var(--secondary-accent-color);
  padding-bottom: 4px;
}

.features__title {
  padding-bottom: 20px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(30 / 26);
  color: #2c2c2c;
}

.features__text {
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  line-height: calc(30 / 26);
  color: var(--bg-color);
}

.decoration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.decoration__img-zero {
  position: absolute;
  left: 76%;
  top: 8%;
}

.decoration__img-first {
  position: absolute;
  left: 68%;
  top: -3%;
}

.decoration__img-second {
  position: absolute;
  left: 50%;
  top: 12%;
  mix-blend-mode: normal;
  -webkit-box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.5);
}

.decoration__img-thrd {
  position: absolute;
  left: 77%;
  top: 43%;
  -webkit-box-shadow: 3px 1px 10px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 1px 10px 3px rgba(0, 0, 0, 0.25);
}

.information-display {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.information-display__item:not(:last-child) {
  margin-right: 40px;
}

.information-display__item {
  text-align: center;
}

.information-display__up-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: calc(54 / 40);
  color: var(--secondary-accent-color);
}

.information-display__down-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: calc(27 / 20);
  color: var(--primary-black-color);
}

/* <!-- -------------------------------------------------------------------------------- RESERVATION ----------------------------------------------------------------------------- --> */
.reservation {
  padding-top: 80px;
  padding-bottom: 104px;
  content: '';
  max-width: 1920px;
  margin: 0 auto;
  /* width: 100%;
  height: 100%; */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.85))), url(../images/celebration.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../images/celebration.jpg);
  background-color: var(--bg-color);
  background-size: cover;
  background-repeat: no-repeat;
}

.reservation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reservation__dscr {
  width: 601px;
}

.reservation__title {
  padding-bottom: 20px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 52px;
  line-height: calc(60 / 52);
  color: var(--bg-br-accent-color);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.reservation__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(33 / 24);
  color: var(--primary-white-color);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.reservation__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservation__btn {
  margin-right: 20px;
  padding: 14px 19px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);
  color: var(--primary-white-color);
  background: var(--primary-accent-color);
}

/* <!-- -------------------------------------------------------------------------------- OUR DISH ----------------------------------------------------------------------------- --> */
.our-dish {
  padding-bottom: 150px;
  padding-top: 150px;
}

.our-dish .our-dish__title {
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 54px;
  line-height: calc(62 / 54);
  color: var(--primary-black-color);
}

.our-dish__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-dish__main-img {
  -webkit-box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
}

.our-dish__list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.our-dish__item {
  /* order: 1; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.1); */
}

.our-dish__item:not(:last-child) {
  margin-bottom: 25px;
}

.our-dish__img {
  display: block;
  margin-right: 30px;
}

.our-dish-list {
  width: 464px;
}

.our-dish__dish {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-family: 'Tinos', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(30 / 26);
  color: var(--primary-black-color);
}

.our-dish__price {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-left: auto;
  font-family: 'Tinos', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(30 / 26);
  color: var(--primary-black-color);
}

.our-dish__dscr::after {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 7px;
  margin-right: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  content: '';
  border-bottom: 1px dashed var(--primary-black-color);
}

.our-dish__dscr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* <!-- -------------------------------------------------------------------------------- MENU ----------------------------------------------------------------------------- --> */
.menu {
  background-image: url(../images/menu-bg.jpg);
  background-color: var(--bg-color);
  max-width: 1920px;
  margin: 0 auto;
  background-size: cover;
  height: 1034px;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 225px;
}

.menu__title {
  margin-bottom: 138px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  text-align: center;
  font-size: 54px;
  line-height: calc(62 / 54);
  color: var(--primary-white-color);
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__item {
  width: 350px;
  background-color: var(--primary-white-color);
  padding: 80px 63px 29px 62px;
}

.menu__img-preview-first {
  position: relative;
  margin-bottom: 22px;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  background-image: url(..//images/shava.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--secondary-accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu__img-preview-first-second {
  position: relative;
  margin-bottom: 22px;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  background-image: url(..//images/burger.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu__img-preview-first-thrd {
  position: relative;
  margin-bottom: 22px;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  background-image: url(..//images/pizza.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--secondary-accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu__price-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--bg-br-accent-color);
  border: 7px solid var(--primary-white-color);
}

.menu__price {
  position: absolute;
  top: 19%;
  left: 17%;
  font-family: 'Cookie', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 33px;
  color: var(--primary-white-color);
}

.menu__price-cash {
  position: absolute;
  top: 49%;
  left: 53%;
  font-family: 'Cookie', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 33px;
  color: var(--primary-white-color);
}

.menu__dish {
  margin-bottom: 17px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  text-align: center;
  font-size: 26px;
  line-height: calc(30 / 26);
  color: var(--primary-black-color);
}

.menu__dscr {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-black-color);
}

.menu__btn {
  padding: 14px 68px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: calc(22 / 16);
  color: var(--primary-white-color);
  background: var(--bg-br-accent-color);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

/* <!-- -------------------------------------------------------------------------------- FEEDBACK ----------------------------------------------------------------------------- --> */
.clients-feedback {
  background-color: #e5e5e5;
  max-width: 1920px;
  min-height: 550px;
  padding: 150px 0;
  margin: 0 auto;
}

.clients-feedback__text {
  margin-bottom: 76px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 20px;
  line-height: calc(27 / 20);
  text-align: center;
  color: var(--primary-black-color);
}

.clients-feedback__img {
  display: block;
  margin-bottom: 16px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.clients-feedback__title {
  margin-bottom: 9px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: calc(27 / 20);
  text-align: center;
  color: var(--primary-black-color);
}

.clients-feedback__name {
  margin-bottom: 9px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(27 / 20);
  text-align: center;
  color: var(--primary-black-color);
}

.clients-feedback__selectors-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-feedback__selector {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 710px;
  top: 4582px;
  background: var(--decor-color);
}

.clients-feedback__selector:not(:last-child) {
  margin-right: 2px;
}

.is-selected {
  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid var(--primary-accent-color);
  border-radius: 50%;
}

/* <!-- -------------------------------------------------------------------------------- GALLERY ----------------------------------------------------------------------------- --> */
.gallery {
  padding-bottom: 100px;
  padding-top: 100px;
}

.gallery__title {
  margin-bottom: 60px;
  font-family: 'Tinos', serif;
  text-align: center;
  font-weight: 400;
  font-size: 54px;
  line-height: calc(52px);
  color: var(--primary-black-color);
  position: relative;
}

.gallery__title--decor::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  -webkit-transform: translate(-616%, 112%);
          transform: translate(-616%, 112%);
  content: '';
  width: 30px;
  height: 100px;
  background-color: var(--decor-color-2);
}

.gallery__title--decor::after {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  -webkit-transform: translate(616%, 112%);
          transform: translate(616%, 112%);
  content: '';
  width: 30px;
  height: 100px;
  background-color: var(--decor-color-2);
}

.gallery-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42%;
  margin-right: 10px;
}

.gallery-cards__wrapper {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-cards__item {
  margin-right: 14px;
  margin-top: 14px;
}

.working-staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.working-staff__item:not(:last-child) {
  margin-right: 30px;
}

/* <!-- -------------------------------------------------------------------------------- FOTER/CONTACTS ----------------------------------------------------------------------------- --> */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(15, 15, 15, 0.5)), to(rgba(15, 15, 15, 0.5))), url(../images/footer.jpg);
  background-image: linear-gradient(to right, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(../images/footer.jpg);
  max-width: 1920px;
  height: 900px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback {
  padding: 130px 20px;
  width: 50%;
}

.feedback__title {
  margin-bottom: 80px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: calc(19 / 14);
  color: var(--primary-white-color);
}

.feedback-form {
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);
  color: var(--primary-white-color);
}

.feedback-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.feedback-form__item:first-child {
  margin-right: 30px;
}

.feedback-form__input {
  width: 264px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(19 / 14);
  color: var(--primary-white-color);
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.feedback-form__textarea {
  width: 560px;
  height: 76px;
  background-color: transparent;
  border: none;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(19 / 14);
  color: var(--primary-white-color);
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.feedback-form__item--textarea-modificator {
  display: block;
  margin-bottom: 30px;
}

.feedback-form__btn {
  padding: 14px 18px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);
  color: var(--primary-white-color);
  background: var(--primary-accent-color);
}

.our-contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 120px;
  padding-right: 20px;
  width: 50%;
}

.our-contacts__title {
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: calc(19 / 14);
  color: var(--primary-white-color);
}

.address {
  font-style: normal;
}

.address__list {
  margin-bottom: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 20px;
}

.address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);
  color: var(--primary-white-color);
  opacity: 0.6;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus,
.address__link:hover .address__icon,
.address__link:focus .address__icon {
  color: var(--primary-accent-color);
  fill: var(--primary-accent-color);
  opacity: 1;
}

.address__icon {
  margin-right: 20px;
  fill: var(--primary-white-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-set__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  opacity: 0.6;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-set__item:not(:last-child) {
  margin-right: 20px;
}

.social-set__item:hover .social-set__link,
.social-set__item:focus .social-set__link,
.social-set__item:hover .social-set__icon,
.social-set__item:focus .social-set__icon {
  fill: var(--primary-accent-color);
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social-set__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.schedule__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  line-height: calc(19 / 14);
  color: var(--primary-white-color);
}

.schedule__working-time {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);
  color: var(--primary-white-color);
  opacity: 0.6;
}

/* <!-- -------------------------------------------------------------------------------- Modal ----------------------------------------------------------------------------- --> */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
}

.bacdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  width: 528px;
  height: 581px;
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 0.4px solid black;
}

.modal-window__close-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  top: 8px;
  right: 8px;
}

.modal-window__close-btn:hover {
  fill: var(--primary-accent-color);
}

.modal-window__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  line-height: calc(19 / 14);
}

.modal-window__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-window__item:nth-child(2) {
  margin-bottom: 30px;
}

.modal-window__label {
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: calc(19 / 14);
}

.modal-window__input {
  padding-left: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  height: 40px;
  width: 448px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: calc(19 / 14);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__textarea-label {
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: calc(19 / 14);
}

.modal-window__textarea-input {
  margin-bottom: 40px;
  padding: 12px 16px;
  width: 448px;
  height: 170px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: calc(19 / 14);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__btn {
  display: block;
  margin: 0 auto;
  padding: 14px 68px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: calc(22 / 16);
  color: var(--primary-white-color);
  background: var(--bg-br-accent-color);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 10px;
}

.modal-window__input:hover, .modal-window__textarea-input:hover {
  border-color: var(--bg-br-accent-color);
}
/*# sourceMappingURL=main.css.map */