/* font-family: 'Cookie', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Tinos', serif; */
:root {
}

body {
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

p,
img {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* <!-- -------------------------------------------------------------------------------- HEADER ----------------------------------------------------------------------------- --> */
.oveflow-bg {
  background-image: url(../images/hero-bg.jpg);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  width: 100%;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
}
.header-nav {
}
.container-header {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.header-nav-logo {
}
.header-nav-list {
  display: flex;
  padding-left: 268px;
}
.header-nav-item:not(:first-child) {
  margin-left: 20px;
}
.header-nav-item {
}
.header-nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);

  color: #ffffff;
}
.header-nav-contact {
  max-width: 159px;
  margin-left: auto;
}

.header-nav-tell {
  margin-bottom: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: calc(25 / 18);

  color: #ffffff;
}

.header-nav-icon {
  fill: #ffffff;
}

.header-nav-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);

  color: #ffffff;
}

.header-nav-btn {
  margin-left: 45px;
  padding: 14px 18px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);

  color: #ffffff;
  background: #ff7400;
}

/* <!-- -------------------------------------------------------------------------------- HERO ----------------------------------------------------------------------------- --> */
.header-hero {
}
.hero {
  padding-top: 205px;
  padding-bottom: 231px;
}
.hero-uptext {
  margin-left: 33px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 50px;
  line-height: calc(92 / 80);

  color: #d67e35;
}

.hero-title {
  margin-bottom: 12px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 80px;
  line-height: calc(92 / 80);

  color: #d67e35;
}
.hero-text-overflow {
  position: relative;
  width: 100%;
}
.hero-text::before {
  position: absolute;
  top: 50%;
  left: 104px;
  content: '';
  width: 61px;
  height: 2px;

  background: #c4c4c4;
}

.hero-text::after {
  position: absolute;
  top: 50%;
  left: 350px;
  content: '';
  width: 61px;
  height: 2px;

  background: #c4c4c4;
}

.hero-text {
  margin-left: 174px;
  margin-bottom: 21px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: calc(25 / 18);

  color: #ffffff;
}
.hero-btn {
  margin-left: 190px;
  padding: 14px 28px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);

  color: #ffffff;
  background: #ff7400;
}

/* <!-- -------------------------------------------------------------------------------- HISTORY ----------------------------------------------------------------------------- --> */

.history {
  position: relative;
}
.history-list {
  position: absolute;
  top: -107px;
  display: flex;
  position: relative;
}
.history-item:not(:last-child) {
  margin-right: 30px;
}

.history-item {
  background-color: #fff;
  background: #ffffff;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}
.history-thmb {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 30px 20px 30px;
  width: 328px;
}

.history-svg {
  fill: #bc9060;
  padding-bottom: 4px;
}
.history-list-title {
  padding-bottom: 20px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(30 / 26);

  color: #2c2c2c;
}
.history-span {
  color: #bc9060;
}
.history-list-text {
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(30 / 26);

  color: #656363;
}

/* 
  background-image: url(../images/hero-bg.jpg);
  position: absolute;

  height: 100%;
  width: 100%;
  content: '';
  background-size: cover; */
