/* font-family: 'Cookie', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Tinos', serif; */
:root {
}

body {
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

p,
img {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.color-span {
  color: #bc9060;
}
/* <!-- -------------------------------------------------------------------------------- HEADER ----------------------------------------------------------------------------- --> */
/* .oveflow-bg {
  background-image: url(../images/hero-bg.jpg);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
} */
.header-nav {
  position: absolute;

  left: 0;
  right: 0;
  text-align: center;
}
.oveflow-bg {
}
.container-header {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.header-nav-logo {
}
.header-nav-list {
  display: flex;
  padding-left: 268px;
}
.header-nav-item:not(:first-child) {
  margin-left: 20px;
}
.header-nav-item {
}
.header-nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);

  color: #ffffff;
}
.header-nav-contact {
  max-width: 159px;
  margin-left: auto;
}

.header-nav-tell {
  margin-bottom: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: calc(25 / 18);

  color: #ffffff;
}

.header-nav-icon {
  fill: #ffffff;
}

.header-nav-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);

  color: #ffffff;
}

.header-nav-btn {
  margin-left: 45px;
  padding: 14px 18px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);

  color: #ffffff;
  background: #ff7400;
}

/* <!-- -------------------------------------------------------------------------------- HERO ----------------------------------------------------------------------------- --> */
.header-hero {
}
.hero {
  background-image: url(../images/hero-bg.jpg);
  background-color: #656363;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 800px;
  margin: 0 auto;
  padding-top: 205px;
  padding-bottom: 231px;
}
.hero-uptext {
  margin-left: 33px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 50px;
  line-height: calc(92 / 80);

  color: #d67e35;
}

.hero-title {
  margin-bottom: 12px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 80px;
  line-height: calc(92 / 80);

  color: #d67e35;
}
.hero-text-overflow {
  position: relative;
  width: 100%;
}
.hero-text::before {
  position: absolute;
  top: 50%;
  left: 104px;
  content: '';
  width: 61px;
  height: 2px;

  background: #c4c4c4;
}

.hero-text::after {
  position: absolute;
  top: 50%;
  left: 350px;
  content: '';
  width: 61px;
  height: 2px;

  background: #c4c4c4;
}

.hero-text {
  margin-left: 174px;
  margin-bottom: 21px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: calc(25 / 18);

  color: #ffffff;
}
.hero-btn {
  margin-left: 190px;
  padding: 14px 28px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);

  color: #ffffff;
  background: #ff7400;
}

/* <!-- -------------------------------------------------------------------------------- HISTORY ----------------------------------------------------------------------------- --> */

.history {
  padding-bottom: 182px;
  position: relative;
}
.history-list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: -107px;
  display: flex;
  position: relative;
}

.history-item {
  background-color: #fff;
  background: #ffffff;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}
.history-thmb {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 30px 20px 30px;
  width: 328px;
}

.history-svg {
  fill: #bc9060;
  padding-bottom: 4px;
}
.history-list-title {
  padding-bottom: 20px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 26px;

  line-height: calc(30 / 26);

  color: #2c2c2c;
}

.history-list-text {
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  line-height: calc(30 / 26);

  color: #656363;
}
.history-block-wrapped {
  width: 444px;
}
.history-block {
  display: flex;
  flex-grow: 1;
}
.history-block-title {
  text-align: center;
  margin-bottom: 21px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 54px;
  line-height: calc(62 / 54);

  color: #d67e34;
}
.color-span {
}
.history-block-text {
  margin-bottom: 95px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;

  color: #656363;
}
.history-block-list {
  position: relative;
  display: flex;
  justify-content: center;
}
.history-block-item:not(:last-child) {
  margin-right: 40px;
}
.history-block-item {
  text-align: center;
}
.history-block-number {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: calc(54 / 40);

  color: #bc9060;
}
.history-block-food {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: calc(27 / 20);

  color: #000000;
}
.history-block-img {
  margin-left: auto;
  box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.5);
}

.history-block-second {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.history-block-img-zero {
  position: absolute;
  left: 76%;
  top: 2%;
}
.history-block-img-first {
  position: absolute;
  left: 68%;
  top: -3%;
}
.history-block-img-second {
  position: absolute;
  left: 50%;
  top: 12%;
  mix-blend-mode: normal;
  box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.5);
}

.history-block-img-thrd {
  position: absolute;
  left: 77%;
  top: 43%;
  box-shadow: 3px 1px 10px 3px rgba(0, 0, 0, 0.25);
}

/* <!-- -------------------------------------------------------------------------------- CELEBRATION ----------------------------------------------------------------------------- --> */
.celebration {
  padding-top: 80px;
  padding-bottom: 104px;
  content: '';
  max-width: 1440px;
  margin: 0 auto;
  /* width: 100%;
  height: 100%; */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../images/celebration.jpg);
  background-color: #656363;
  background-size: cover;
  background-repeat: no-repeat;
}
.celebration .container {
  display: flex;
  justify-content: space-between;
}

.celebration-wrapper {
  width: 601px;
}
.celebration-title {
  padding-bottom: 20px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 52px;
  line-height: calc(60 / 52);

  color: #d67e34;
}
.celebration-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(33 / 24);

  color: #ffffff;
}
.celebration-wrapper-scnd {
  display: flex;
  align-items: center;
}
.celebration-btn {
  margin-right: 20px;
  padding: 14px 19px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(19 / 14);

  color: #ffffff;
  background: #ff7400;
}
/* <!-- -------------------------------------------------------------------------------- OUR DISH ----------------------------------------------------------------------------- --> */
.our-dish {
  padding-bottom: 150px;
  padding-top: 150px;
}

.our-dish-title {
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 54px;
  line-height: calc(62 / 54);

  color: #000000;
}
.color-span {
}
.our-wrapper {
  display: flex;
}
.our-dish-img-main {
  box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.1);
}
.our-dish-list-img {
  margin-right: 30px;
}
.our-dish-img-item {
  margin-left: 20px;
  box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.1);
}
.our-dish-img-item:not(:last-child) {
  margin-bottom: 25px;
}
.our-dish-item:first-child {
  padding-top: 65px;
}
.our-dish-img {
  display: block;
}
.our-dish-list {
  width: 464px;
}
.our-dish-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.our-dish-item:not(:last-child) {
  margin-bottom: 134px;
}
.our-dish-text {
  font-family: 'Tinos', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(30 / 26);

  color: #000000;
}

.point1::after {
  content: '';
  position: absolute;
  width: 139px;
  top: 91%;
  left: 65%;
  transform: translate(-50%, -50%);
  border-bottom: 1px dashed #000000;
  /* background: black;
  border-radius: 2px; */
}
.point2::after {
  content: '';
  position: absolute;
  width: 139px;
  top: 77%;
  left: 65%;
  transform: translate(-50%, -50%);
  border-bottom: 1px dashed #000000;
  /* background: black;
  border-radius: 2px; */
}
.point3::after {
  content: '';
  position: absolute;
  width: 139px;
  top: 77%;
  left: 65%;
  transform: translate(-50%, -50%);
  border-bottom: 1px dashed #000000;
  /* background: black;
  border-radius: 2px; */
}
/* <!-- -------------------------------------------------------------------------------- MENU ----------------------------------------------------------------------------- --> */
.menu {
  background-image: url(../images/menu-bg.jpg);
  background-color: #656363;
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
  height: 1034px;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 225px;
}
.menu-title {
  margin-bottom: 138px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  text-align: center;
  font-size: 54px;
  line-height: calc(62 / 54);

  color: #ffffff;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.menu-list {
  display: flex;
}
.menu-item:not(:last-child) {
  margin-right: 30px;
}
.menu-item {
  width: 350px;
  background-color: #ffffff;
  padding: 80px 63px 29px 62px;
}
.menu-img {
  position: relative;
  margin-bottom: 22px;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  background-image: url(..//images/burger.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #bc9060;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu-price {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: #d67e34;
  border: 7px solid #ffffff;
}

.menu-price-money {
  font-family: 'Cookie', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;

  color: #ffffff;
}

/* .menu-img::before {
  position: relative;
  display: block;
  content: '';
  background-image: url(../images/burger-svg.svg);
  background-repeat: no-repeat;
  height: 100px;
} */
.menu-subtitle {
  margin-bottom: 17px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(30 / 26);

  color: #000000;
}
.menu-text {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;

  color: #000000;
}
.menu-btn {
  padding: 14px 68px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: calc(22 / 16);

  color: #ffffff;
  background: #d67e34;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

/* <!-- -------------------------------------------------------------------------------- FEEDBACK ----------------------------------------------------------------------------- --> */

.feedback {
  background-color: #e5e5e5;
  max-width: 1440px;
  min-height: 550px;
  padding: 150px 0;
  margin: 0 auto;
}
.feedback-text {
  margin-bottom: 76px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 20px;
  line-height: calc(27 / 20);
  text-align: center;

  color: #000000;
}
.feedback-img {
  display: block;
  margin-bottom: 16px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.feedback-title {
  margin-bottom: 9px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: calc(27 / 20);
  text-align: center;

  color: #000000;
}
.feedback-subtext {
  margin-bottom: 9px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(27 / 20);
  text-align: center;

  color: #000000;
}
.feedback-point-thmb {
  display: flex;
  justify-content: center;
}
.feedback-point {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  left: 710px;
  top: 4582px;

  background: #c4c4c4;
}
.feedback-point:not(:last-child) {
  margin-right: 2px;
}
.current-point {
  display: block;
  width: 7px;
  height: 7px;
  border: 1px solid #ff7400;
  border-radius: 50%;
}
/* <!-- -------------------------------------------------------------------------------- ISHES AND COOK ----------------------------------------------------------------------------- --> */
.dishes-and-cook img {
  display: block;
}
.dishes-and-cook {
  padding-bottom: 100px;
  padding-top: 100px;
}

.dishes-title {
  margin-bottom: 60px;
  font-family: 'Tinos', serif;
  text-align: center;
  font-weight: 400;
  font-size: 54px;
  line-height: calc(52px);

  color: #000000;
}
.color-span {
}
.dishes-thmb {
  margin-bottom: 100px;
  display: flex;
}
.dishes-list-1 {
  margin-right: 10px;
}
.dishes-item-thmb-1 {
  display: flex;
}
.dishes-item-thmb-1 li:not(:first-child) {
  margin-left: 10px;
}

.large {
  margin-bottom: 30px;
}
.dishes-item-1 {
}
.dishes-img-1 {
}
.dishes-list-2 {
  width: 578px;
}
.dishes-item-thmb-2 {
  display: flex;
  margin-bottom: 30px;
}
.dishes-item-thmb-2 li:not(:first-child) {
  margin-left: 10px;
}
.dishes-item-2 {
}
.dishes-img-2 {
}
.cook-title {
  margin-bottom: 100px;
  font-family: 'Tinos', serif;
  font-weight: 400;
  text-align: center;
  font-size: 54px;
  line-height: calc(52px);

  color: #000000;
}
.cook-list {
  display: flex;
}
.cook-item {
}
.cook-item:not(:last-child) {
  margin-right: 30px;
}
.cook-img {
}

/* <!-- -------------------------------------------------------------------------------- FOTER ----------------------------------------------------------------------------- --> */
footer {
  background-image: url(../images/footer.jpg);
  background-color: #656363;
  max-width: 1440px;
  height: 732px;
  margin: 0 auto;
  background-size: cover;

  background-repeat: no-repeat;
}
/* 
  background-image: url(../images/hero-bg.jpg);
  position: absolute;

  height: 100%;
  width: 100%;
  content: '';
  background-size: cover; */
