.clients-feedback {
  @media screen and (max-width: $breakpointBeeforeTablet) {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e5e5e5;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $breakpointTablet) {
    background-color: #e5e5e5;
    max-width: 1920px;

    margin: 0 auto;
    padding: 20px 0;
  }
  @media screen and (min-width: $breakpointDesktop) {
    padding: 150px 0;
  }
  &__list {
    display: flex;
  }
  &__item {
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__text {
    margin-bottom: 76px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: calc(27 / 20);
    text-align: center;

    color: var(--primary-black-color);
  }

  &__img {
    display: block;
    margin-bottom: 16px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(27 / 20);
    text-align: center;

    color: var(--primary-black-color);
  }

  &__name {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(27 / 20);
    text-align: center;

    color: var(--primary-black-color);
  }

  &__selectors-wrapper {
    display: flex;
    justify-content: center;
  }

  &__selector {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 710px;
    top: 4582px;

    background: var(--decor-color);
  }

  &__selector:not(:last-child) {
    margin-right: 2px;
  }
}

.is-selected {
  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid var(--primary-accent-color);
  border-radius: 50%;
}
