.gallery {
  padding-bottom: 100px;
  padding-top: 100px;

  &__title {
    margin-bottom: 60px;
    font-family: 'Tinos', serif;
    text-align: center;
    font-weight: 400;
    font-size: 54px;
    line-height: calc(52px);

    color: var(--primary-black-color);
    position: relative;
  }

  &__title--decor::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transform: translate(-616%, 112%);
    content: '';
    width: 30px;
    height: 100px;

    background-color: var(--decor-color-2);
  }

  &__title--decor::after {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    transform: translate(616%, 112%);
    content: '';
    width: 30px;
    height: 100px;

    background-color: var(--decor-color-2);
  }
}

.gallery-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 42%;
  margin-right: 10px;

  &__wrapper {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }

  &__item {
    margin-right: 14px;
    margin-top: 14px;
  }
}

.working-staff {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}
