.reservation {
  @media screen and (max-width: $breakpointBeeforeTablet) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url(../images/celebration-mob.jpg);
    background-color: var(--bg-color);
    padding-top: 20px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: $breakpointDesktop) {
    padding-top: 80px;
    padding-bottom: 104px;
    content: '';
    max-width: 1920px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url(../images/celebration.jpg);
    background-color: var(--bg-color);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__wrapper {
    @media screen and (max-width: $breakpointBeeforeTablet) {
      text-align: center;
    }
    @media screen and (min-width: $breakpointDesktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__dscr {
    @media screen and (max-width: $breakpointBeeforeTablet) {
      margin-bottom: 40px;
    }
    @media screen and (min-width: $breakpointDesktop) {
      width: 601px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(32 / 30);

    color: var(--bg-br-accent-color);
    animation-duration: 1s;
    @media screen and (max-width: $breakpointBeeforeTablet) {
      max-width: 74%;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: $breakpointDesktop) {
      font-size: 52px;
      line-height: calc(60 / 52);
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(33 / 24);

    color: var(--primary-white-color);
    animation-duration: 1s;
  }

  &__btn-wrapper {
    @media screen and (min-width: $breakpointDesktop) {
      display: flex;
      align-items: center;
    }
  }

  &__btn {
    margin-right: 20px;
    padding: 14px 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: calc(19 / 14);

    color: var(--primary-white-color);
    background: var(--primary-accent-color);
  }
}
