.share {
  &__title {
    margin-bottom: 45px;
    text-align: center;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 45px;
    line-height: calc(46 / 40);
    color: var(--primary-white-color);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  }
  &__text {
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(46 / 40);
    color: var(--thrd-accent-color);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  }
  &__discont {
    text-align: right;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 100px;
    line-height: calc(46 / 40);
    color: var(--primary-white-color);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

    display: block;
  }
  &__terms {
    position: absolute;
    bottom: 1%;
    right: 2%;

    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(46 / 40);
    color: var(--primary-white-color);
  }
  &__bacdrop {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 99;
    top: 0;
    left: 0%;

    width: 100%;
    height: 100%;
  }
  &__modal-window {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.65)),
      url(../images/celebration.jpg);
    background-size: cover;

    background-color: #2e2e2e;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 50px;
    max-width: 528px;
    height: 581px;
    // width: 1280px;
    // height: 905px;
    // background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid white;

    @media screen and (max-width: $breakpointBeeforeTablet) {
      width: 95%;
      padding: 22px;
    }
  }
  // }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
  }
  // .modal-window {
  //   &__close-btn {}
  //   &__close-btn-icon {}
}

.modal-window__close-btn-icon--share {
  fill: var(--primary-accent-color);
}

.--share {
  background-color: aliceblue;
}
