:root {
  --primary-accent-color: #ff7400;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --secondary-accent-color: #bc9060;
  --thrd-accent-color: #d67e35;
  --bg-color: #656363;
  --decor-color: #c4c4c4;
  --decor-color-2: #ff0000;
  --bg-br-accent-color: #d67e34;
}

// -------------BREAKPOINTS--------------
$breakpointBeeforeTell: 479px;
$breakpointTell: 480px;
$breakpointBeeforeTablet: 767px;
$breakpointTablet: 768px;
$breakpointBeeforeDesktop: 1199px;
$breakpointDesktop: 1200px;
